#displayed_courses_window_wrapper {
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: white;
}

#displayed_courses_header {
    margin: 0px;
}

#filter_displayed_courses_wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#filter_displayed_courses_by_subject_dropdown_menu_and_helper_icon_wrapper,
#filter_displayed_courses_by_start_date_dropdown_menu_and_helper_icon_wrapper,
#displayed_courses_header_and_helper_icon_wrapper {
    display: flex;
    flex-direction: row;
}

#displayed_courses_header_helper_icon_text_wrapper {
    transform:translate(-50%, calc(-100% + 3px));
}

#filter_displayed_courses_by_subject_dropdown_menu_helper_icon_text_wrapper, 
#filter_displayed_courses_by_start_date_dropdown_menu_helper_icon_text_wrapper {
    transform:translate(-50%, calc(-100% - 2px));
}

#filter_displayed_courses_by_subject_wrapper {
    width: 50%;
    margin-right: 20px;
}

.displayed_courses_dropdown_menu_label {
    display: block;
    margin: 0px;
    margin-bottom: 5px;
}

.displayed_courses_dropdown_menu {
    width: 100%;
    padding: 5px;
}

#filter_displayed_courses_by_start_date_wrapper {
    width: 50%;
}

#course_display_message {
    margin: auto;
}

#displayed_courses_wrapper {
    display: none;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: darkslategray;
}

.course_listing_row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.not_bottom_course_listing_row {
    margin-bottom: 10px;
}

.course_listing_wrapper {
    display: flex;
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
}

.course_listing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.course_listing:hover {
    background-color: lightgray;
}

.course_listing_course_title {
    margin: 0px;
    color: black;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.course_listing_course_subject {
    margin: 0px;
    color: rgb(71, 71, 71);
}

.course_listing_course_start_date_header {
    margin: 0px;
    color: black;
}

.course_listing_course_start_date_text {
    margin: 0px;
    color: black;
}