body {
    font-family: "Roboto"
}

#course_content_and_template_and_checkbox_wrapper {
    background-color: cyan;
    width: 90%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#template_checkbox_controls {
    padding: 10px;
}

.template_checkbox_control {
    margin: auto;
    display: table;
}

#course_content_and_template_wrapper {
    display: flex;
    justify-content: space-between;
}

.section_title {
    text-align: center;
    margin-top: 0px;
}

.page_names_wrapper {
    margin: 0 auto;
    display: table;
    max-width: 90%;
}

.page_names {
    margin-left: 5px;
    padding: 5px;
}

.page_title {
    max-width: 100%;
    overflow: hidden;
}

select {
    max-width: 60%;
}

#course_content_wrapper {
    flex: 1;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    max-width: 45%;
    width: 45%;
}

#template_wrapper {
    flex: 1;
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    width: 45%;
    max-width: 45%;
}

.divider {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}

.text_block_editor_textarea {
    width: 100%;
    resize: none;
    box-sizing: border-box;
    font-family: "Roboto";
    margin-top: 5px;
}

.title_editor_textarea {
    width: 100%;
    resize: none;
    box-sizing: border-box;
    font-family: "Roboto";
    margin-top: 5px;
}

.page_element {
    display: inline-block;
}

.page_element_editor {
    display: none;
}

h3 {
    margin: 0px;
}

.word_character_counts {
    color: gray;
    margin: 0px;
    font-size: 12px;
}

.template_text_block_header {
    margin: 0px;
}

.fieldset {
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.template_title {
    margin: 0px;
}

.legend {
    padding: 3px 5px;
    background-color: black;
    color: white;
}

.template_bottom_info {
    color: gray;
    margin: 0px;
    font-size: 12px;
}

.template_text_block {
    margin: 0px;
}

.text_block {
    margin-top: 0px;
    margin-bottom: 0px;
}

.text_block p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.image_link_wrapper {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.image_link_input {
    flex: 80%;
    margin-right: 5px;
    padding: 5px;
}

.image_link_button {
    flex: 20%;
    margin-left: 5px;
    padding: 5px;
}

.uploaded_image_wrapper {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.uploaded_image {
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

.image_caption_input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
}

.image_upload_button {
    padding: 5px;
    float: right;
}

.image_upload_error_message {
    display: none;
    color: red;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

.image_wrapper, .text_block_wrapper, .page_title_wrapper, .image_editor_wrapper,
.text_block_editor_wrapper, .page_title_editor_wrapper {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text_block {
    margin: 0px;
}

.page_title_wrapper h1 {
    margin: 0px;
}

.image_element {
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    border: 1px solid black;
}

.image_caption {
    font-size: 12px;
    color: gray;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

.page_title_wrapper .add_below_button {
    margin-left: 0px;
}

.edit_element_button {
    margin-right: 5px;
}

.add_new_element_wrapper {
    width: 80%;
    box-sizing: border-box;
    /*display: flex;
    //justify-content: space-between; */
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 10px;
}

.add_new_element_dropdown_input_wrapper {
    display: flex;
    justify-content: space-between;
}

.add_new_element_dropdown {
    flex: 80%;
    margin-right: 5px;
    padding: 5px;
}

.add_new_element_button {
    flex: 20%;
    margin-left: 5px;
}

.add_new_element_error_message, #course_page_names_error_message {
    color: red;
    text-align: center;
    display: none;
    margin: 0px;
    margin-top: 5px;
}

.text_block_error_message, .page_title_error_message {
    color: red;
    display: none;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}