.reached {
    opacity: 1;
}

.not_reached {
    opacity: 0.5;
}

#course_page_link {
    margin-left: 20px;
}

#course_page_link > a {
    text-decoration: none;
}

#video_title {
    margin-top: 10px;
    margin-bottom: 10px;
}

#video_description {
    margin-top: 10px;
    padding-bottom: 10px;
}

#video_and_chatbox_container_border {
    height: 100%;
    width: 100%;
    border: 1px solid grey;
}

#video_and_chatbox_container {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 10px;
    background-color: rgb(234, 234, 234);
    overflow-y: auto;
}

#video_container {
    flex: 65%;
}

#video_lecture {
    width: 100%;
}

#chatbox_container {
    background-color: white;
    flex: 35%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    height: 90%;
}

#chatbox_messages {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
    height: 80%;
    border: 1px solid darkgray;
}

.message_and_replies_wrapper {
    width: 100%;
    padding: 1px 10px;
    background-color: white;
    margin-top: 0px;
}

.chatbox_message {
    padding: 10px;
}

.message_timestamp {
    float: right;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: underline;
    color: darkblue;
}

.message_wrapper {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    margin-left: -10px;
    margin-right: -10px;
    overflow-x: hidden;
}

.avatar_wrapper {
    flex: 10%;
    min-width: 10%;
    margin-left: 10px;
    margin-right: 10px;
}

.avatar {
    width: 100%;
    border-radius: 50%;
    margin-top: 10px;
}

#no_chat_messages_message {
    margin: 10px;
}

.message {
    flex: 90%;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 10px;
}

.message_top_line_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 5px;
}

.message_top_line_right {
    margin-left: 10px;
}

.username_link {
    text-decoration: none;
    color: black;
}

.author_time {
    margin-bottom: 3px;
}

.posting_time {
    margin-left: 3px;
    color: gray;
}

.timestamp {
    float: right
}

.message_bubble {
    background-color: #efefef;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.message_text {
    margin: 0px;
}

.message_bottom_line_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.message_bottom_line_right {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.message_bottom_line_left {
    display: flex;
    align-items: center;
}

.vote_button_wrapper {
    display: inline-block;
    width: 20px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
}

.vote_button_image {
    width: 100%;
}

.vote_count {
    margin-left: 3px;
    margin-right: 3px;
}

.reply_button {
    cursor: pointer;
    background: none;
    border: none;
    color: black;
    padding: 5px;
}

.replies_and_filler {
    display: flex;
    flex-direction: row;
}

.replies_filler {
    flex: 1;
    border-right: 2px solid lightgray;
}

.replies_wrapper {
    margin-left: 10px;
    flex: 10;
}

.reply_wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

p {
    margin: 0px;
}

.message_separator {
    height: 2px;
    background-color: lightgrey;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}


#new_message_textbox {
    flex: 5;
    height: 50%;
    outline: none;
}

#new_message_btn {
    flex: 1;
    height: 50%;
}

#pop_up_background {
    background-color:rgba(0, 0, 0, 0.8);
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
}

#add_new_comment_container, #add_new_reply_container {
    display: none;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 33.3%;
    transform:translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
}

#add_new_comment_title {
    margin-bottom: 10px;
}

#add_new_comment_input, #add_new_reply_input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#add_new_reply_recipient_container {
    width: 100%;
    border: 2px solid gray;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.show_replies_button {
    margin-left: -5px;
    cursor: pointer;
    background: none;
    border: none;
    color: black;
    padding: 5px;
}

.highlighted {
    background-color: rgb(255, 255, 171);
}

.tooltip {
    position: relative;
}

/*.tooltip_text {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    top: 100%;
    left: 50%;
    margin-left: -80px;
}

.tooltip:hover .tooltip_text {
    visibility: visible
}*/

.edit_comment_button, .delete_comment_button, .highlight_comment_button, .watch_comment_button {
    cursor: pointer;
    background: none;
    border: none;
    color: black;
    padding: 5px;
    margin-left: 5px;
}

.edit_comment_button:hover, .delete_comment_button:hover, .watch_comment_button:hover, .show_replies_button:hover, 
.reply_button:hover, .highlight_comment_button:hover, .vote_button_wrapper:hover {
    background-color: rgb(235, 233, 233);
    border-radius: 5px;
}

#main {
    margin: 10px
}

#add_new_comment_error_message, #add_new_reply_error_message {
    display: none;
    margin-bottom: 10px;
}

.full_opacity {
    opacity: 1.0
}

.half_opacity {
    opacity: 0.5
}

#tabs_container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
}

#questions_tab_container, #feedback_tab_container {
    flex: 1;
    background-color: white;
    display: flex;
    align-items: stretch;
    border-radius: 10px 10px 0px 0px;
}

#questions_tab {
    margin: 5px 5px 5px 10px;
}

#feedback_tab {
    margin: 5px 10px 5px 5px;
}

.tab {
    flex: 1;
    padding: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.active_tab {
    border-radius: 10px 10px 0px 0px;
    border-bottom: 5px solid darkblue;
}

.tab:hover {
    background-color: rgb(187, 187, 187);
    cursor: pointer;
}

.active_tab:hover {
    background-color: white;
    cursor: pointer;
}

.active_tab > p {
    color: darkblue;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#add_new_comment_button_wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

#add_new_comment_button {
    width: 100%;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    padding: 3px 5px;
    border-radius: 5px;
}

#add_new_comment_button:hover {
    background-color: rgb(239, 239, 239);
}

body {
    margin: 0px;
    background-color: #DDDDDD;
}

.staff_member_flair {
    background-color: darkgreen;
    color: white;
}

.highlighted_comment_flair {
    background-color: yellow;
    color: black;
}