<script src="/scripts/bottom_banner.js" type="application/javascript"></script>

<div id="bottom_banner">
    <div id="bottom_banner_content_wrapper">
        <div id="bottom_banner_text_wrapper">
            <div id="bottom_banner_text"></div>
        </div>

        <div id="bottom_banner_text_wrapper_and_student_view_button_divider" class="bottom_banner_divider"></div>

        <div id="student_view_button_wrapper">
            <button id="student_view_button" class="white_button">Show Student View</button>
        </div>

        <div id="bottom_banner_text_wrapper_and_helper_icon_display_button_divider" class="bottom_banner_divider"></div>
    
        <div id="bottom_banner_helper_icon_display_button_wrapper">
            <button id="bottom_banner_helper_icon_display_button" class="white_button">Hide Helper Icons</button>
        </div>
    </div>
</div>