<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= typeof course_name !== 'undefined' ? course_name : 'Course Name Not Found' %></h1>
    <label for="make_course_visible_checkbox">Course Currently Visible</label>
    <input type="checkbox" id="make_course_visible_checkbox">
    <a href="/courses/<button>GO TO COURSE PAGE</button>
</body>
</html>