<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/flashcard.css">
    <link rel="stylesheet" href="/style/navbar.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/scripts/flashcard.js" type="application/javascript"></script>
    <title>Flashcard</title>
</head>
<body>
    <div id="pop_up_background">
        <div id="edit_flashcard_container">
            <h1>EDIT FLASHCARD</h1>
            <label for="edit_question_input">Question:</label><br>
            <input id="edit_question_input" type="text"><br><br>
            <label for="edit_answer_input">Answer:</label><br>
            <input id="edit_answer_input"></input><br><br>
            <div id="edit_flashcard_error_message"></div>
            <button id="edit_flashcard_submit_button">SUBMIT</button>
            <button id="edit_flashcard_cancel_button">CANCEL</button>
        </div>

        <div id="create_new_flashcard_container">
            <h1>CREATE FLASHCARD</h1>
            <label for="new_question_input">Question:</label><br>
            <input id="new_question_input" type="text"><br><br>
            <label for="new_answer_input">Answer:</label><br>
            <input id="new_answer_input"></input><br><br>
            <div id="new_flashcard_error_message"></div>
            <button id="new_flashcard_submit_button">SUBMIT</button>
            <button id="new_flashcard_cancel_button">CANCEL</button>
        </div>
    </div>

    <%- include("./navbar.ejs"), { user } %>

    <div class="small_page_container">
        <div id="flashcards_container">
            <div id="flashcards">

            </div>
        </div>
    </div>
</body>
</html>