<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.4/dist/js.cookie.min.js"></script>
    <script src="/scripts/get_length_of_time.js" type="application/javascript"></script>
    <script src="/scripts/convert_date.js" type="application/javascript"></script>
    <script src="/scripts/homepage.js" type="application/javascript"></script>
    <script src="/scripts/course_subjects.js" type="application/javascript"></script>
    <script src="/scripts/helper_icons.js" type="application/javascript"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/homepage.css">
    <title>Home | Studium</title>
</head>
<body>
    <%- include ("./navbar.ejs", { current_user }) %>
    <%- include ("./alert.ejs") %>
    <%- include ("./bottom_banner.ejs") %>

    <div class="small_page_container">
        <div id="homepage_content_wrapper">
            <h1>Welcome to Studium</h1>
            <div class="divider"></div>
            <p>Here are some of the courses we have available.</p>

            <div id="homepage_course_links_wrapper"></div>
        </div>
    </div>
</body>
</html>