<link rel="stylesheet" href="/style/navbar.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/scripts/get_all_users.js" type="application/javascript"></script>
<script src="/scripts/get_current_user.js" type="application/javascript"></script>
<script src="/scripts/notifications.js" type="application/javascript"></script>
<script src="/scripts/get_length_of_time.js" type="application/javascript"></script>

<div class="navbar">
  <div id="left_navbar_links">
    <a href="/" class="navbar_link">Home</a>
    <a href="/all-courses" class="navbar_link">All Courses</a>
    <% if (typeof current_user !== 'undefined') { %>
      <div id="my_courses_link" class="navbar_link dropdown_link">My Courses
        <div id="my_courses_dropdown_menu" class="dropdown_menu">
          <a href="/my-courses/in-charge-of" class="dropdown_menu_link">Courses I'm In Charge Of</a>
          <a href="/my-courses/enrolled-in" class="dropdown_menu_link">Courses I'm Enrolled In</a>
        </div>
      </div>
      <a href="/my-templates" class="navbar_link">My Templates</a>
    <% } %>
  </div>

  <div id="right_navbar_links">
    <% if (typeof current_user !== 'undefined') { %>
      <a href="/create-course" class="navbar_link">Create Course</a>
      <a href="/user/<%=current_user._id%>" class="navbar_link">My Profile</a>
      <a href="/logout" class="navbar_link">Log Out</a>

      <div id="notifications_link" class="navbar_link dropdown_link">
        <div id="notifications_icon_wrapper">
          <img src="/images/notification_icon.png" id="notifications_icon">
          <div id="notifications_count_icon_wrapper">
            <p id="notifications_count_icon_text"></p>
          </div>
        </div>
        
        <div id="notifications_wrapper" class="dropdown_menu">
          <div id="notifications_header">
            <h3>Notifications <span id="notification_count"></span></h3>
          </div>
          <div id="notifications_list"></div>
        </div>
      </div>
    <% } else { %>
      <a href="/login" class="navbar_link">Login</a>
      <a href="/register" class="navbar_link">Register</a>
    <% } %>
  </div>
</div>