<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/style/template_testing.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/scripts/template_testing.js" type="application/javascript"></script>
    <title>Document</title>
</head>
<body>
    <button id="enter_edit_mode_button">Enter Edit Mode</button>
    <button id="exit_edit_mode_button">Exit Edit Mode</button>
    <br><br>
    <div id="course_content_and_template_and_checkbox_wrapper">
        <div id="template_checkbox_controls">
            <span class="template_checkbox_control">
                <input id="show_template_checkbox" type="checkbox">
                <label for="show_template_checkbox">Show Template</label>
            </span>

            <span class="template_checkbox_control">
                <input id="show_template_content_checkbox" type="checkbox">
                <label for="show_template_content_checkbox">Show Template Content</label>
            </span>
        </div>

        <div id="course_content_and_template_wrapper">
            <div id="course_content_wrapper">
                <h2 class="section_title"><u>YOUR COURSE</u></h2>

                <div id="course_page_names_wrapper" class="page_names_wrapper">
                    <label for="course_page_names">Course Page:</label>
                    <select id="course_page_names" class="page_names"></select>
                </div>
                <p id="course_page_names_error_message"></p>

                <div class="divider"></div>

                <div id="page_content"></div>
            </div>
    
            <div id="template_wrapper">
                <h2 class="section_title"><u>TEMPLATE</u></h2>

                <div id="template_page_names_wrapper" class="page_names_wrapper">
                    <label for="template_page_names">Template Page:</label>
                    <select id="template_page_names" class="page_names"></select>
                </div>

                <div class="divider"></div>

                <div id="template_content"></div>
            </div>
        </div>
    </div>
</body>
</html>